DJANGO_SECRET_KEY=change-me-in-production
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost,localhost.,0.0.0.0
DJANGO_CSRF_TRUSTED_ORIGINS=http://127.0.0.1,http://localhost,https://127.0.0.1,https://localhost
DJANGO_EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
DJANGO_DEFAULT_FROM_EMAIL=nao-responda@visary.local
ADMIN_SUPERUSER_USERNAME=
ADMIN_SUPERUSER_EMAIL=
ADMIN_SUPERUSER_PASSWORD=
SYSTEM_SEED_USERS_PASSWORDS=
SYSTEM_SEED_PARTNER_PASSWORDS=
